# ----------------------
# Flask
# ----------------------
flask
flask-restful
flask-socketio

# ----------------------
# Database
# ----------------------
pymongo

# ----------------------
# Production Server
# ----------------------
eventlet
gunicorn

# ----------------------
# Others
# ----------------------
addict
shortuuid
gmail
