<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KT</title>
</head>
<body>
    <table border="1px" align="center" >
        <thead>
            <th>STT</th>
            <th>FullName</th>
        </thead>    
        <tbody class='ul1'>
            {% for login in all_order %}
                <tr>
                    <td class="index">{{ loop.user_id }}</td>
                    <td class="fname">{{ login.address }}</td>
                    <td>
                        <a href="{{ url_for('output_bill_word',id=login._id) }}">In hoa don</a>
                    </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
    <hr> 
</body>
</html>