<div class="my-3">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 site-section-heading text-center pt-4">
                <h2 class="text-primary">Big Sale!</h2>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-12 col-lg-7 mb-5">
                <a href="#"><img src="../../static/images/adidas_sneakers.jpg" class="img-fluid rounded"></a>
            </div>
            <div class="col-md-12 col-lg-5 text-center pl-md-5">
                <h2><a href="#">20% less in all items</a></h2>
                <p class="mb-4">August 10, 2019</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium numquam vero dicta vel inventore atque assumenda magnam, unde iure at est possimus eos fugit, maxime provident facere et ipsum praesentium!</p>
                <p><a href="#" class="btn btn-primary btn-sm">Shop Now</a></p>
            </div>
        </div>
    </div>
</div>