<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KT</title>
</head>
<body>
    <form method="POST">
        <input type="text" name="image" placeholder="Link Image"><br>
        <input type="text" name="name" placeholder="Name"><br>
        <input type="text" name="description" placeholder="Description""><br>
        <input type="text" name="status" placeholder="Status"><br>
        <input type="number" name="price" placeholder="Price"><br>
        <input type="text" name="brand" placeholder="Brand"><br>
        <input type="text" name="product_type" placeholder="Product Type"><br>
        <input type="text" name="product_gender" placeholder="Product Gender"><br>
        <input type="text" name="product_kids" placeholder="Product Kids (True/False)"><br>
        <input type="submit" value="Thêm">
    </form>
</body>
</html>