<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KT</title>
</head>
<body>
    <img src="{{ product.image }}">
    <p>{{ product.name }}</p><br>
    <p>{{ product.description }}</p><br>
    <p>{{ product.price }}</p><br>
    <p>{{ product.status }}</p><br>
    <p>{{ product.brand }}</p><br>
    <p>{{ product.product_type }}</p><br>
    <p>{{ product.product_gender }}</p><br>
</body>
</html>