<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KT</title>
</head>
<body>
    <form method='POST'>
        <input type="text" name="fullname" placeholder="FullName"><br>
        <input type="text" name = username placeholder="UserName"><br>
        <input type="text" name="password" placeholder="Password"><br>
        <input type="email" name="email" placeholder="Email"><br>
        <input type="number" name="phone" placeholder="Phone"><br>
        <input type="number" name="id_person" placeholder="ID Person"><br>
        <input type="number" name="balance" placeholder="Balance"><br>
        <input type="text" name="address" placeholder="Address">
        <input type="text" name="level" placeholder="Level"><br>
        <input type="submit" value="Đăng ký">
    </form>
</body>
</html>