<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KT</title>
</head>
<body>
    <form method='POST'>
        <input type="number" name="id" placeholder="ID" value="{{ login.id }}"><br>
        <input type="text" name="fullname" placeholder="Fullname" value="{{ login.fullname }}"><br>
        <input type="text" name="username" placeholder="Username" value="{{ login.username}}"><br>
        <input type="text" name="password" placeholder="Password" value="{{ login.password }}"><br>
        <input type="number" name="level" placeholder="Level" value="{{ login.level }}">
        <input type="submit" value="Sửa" >
    </form>
</body>
</html>